body{
  margin: 0%;
  padding: 0%;
}
.nav0{
  display: inline-grid;
  grid-template-columns: auto auto auto;
}
.nav1 {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  float: right;
}
.nav2{
  display: inline-grid;
  grid-template-columns: auto auto auto;
  position: relative;
  left: 33%;
  text-align: center;
}
.nav2 p{
  display: inline;
  position: relative;
  bottom: 10px;
}
.nav2 input{
  height: 30px;
  position: relative;
  width: 300px;
  bottom: 10px;
}
.nav2 img{
  position: relative;
}